h1 {
  text-align: center;
  margin: 50px auto;
}
.card {
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 400px;
  padding: 2em;
  font-weight: bold;
}

.card-add {
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 200px;
  padding: 2em;
}

.card-remove {
  text-align: center;
  margin: 20px auto;
  border: 3px solid black;
  width: 200px;
  padding: 2em;
}

.card-add button {
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border: none;
  font-weight: bold
}

.card-remove button {
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  font-size: 15px;
  border: none;
  font-weight: bold
}